# Global
docker-images.tar
node_modules
.pnp
.pnp.*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store
*.pem
.DS_Store
logs
*.log
.tmp
.vscode
*.sublime-workspace
*.launch
*.env.*

# Frontend
/apps/frontend/.next
/apps/frontend/out
/apps/frontend/build
/apps/frontend/coverage
/apps/frontend/**/.vercel
/apps/frontend/*.tsbuildinfo
/apps/frontend/next-env.d.ts

# Backend
/apps/backend/build
/apps/backend/dist
/apps/backend/coverage
/apps/backend/.nyc_output
/apps/backend/**/pids
/apps/backend/**/*.pid
/apps/backend/**/*.seed
/apps/backend/**/*.pid.lock
/apps/backend/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
